### 1. Load Packages

In [1]:
import os
import numpy as np
import xarray as xr
import geopandas as gp
import pandas as pd

import cmocean

import cartopy
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
cartopy.config['data_dir'] = os.getenv('CARTOPY_DIR', cartopy.config.get('data_dir'))

from parcels import FieldSet, Field, ParticleSet, Variable, JITParticle
from parcels import AdvectionRK4, plotTrajectoriesFile, ErrorCode

import math
from datetime import timedelta as delta
from operator import attrgetter

from matplotlib import pyplot as plt
#%config InlineBackend.figure_format = 'retina'
plt.ion()  # To trigger the interactive inline mode

OFES data was in cm/s NOT in m/s!!!!

file = 'OfESncep01globalmmeanu.nc'

path = 'C:\\Users\\sandr\\Documents\\Github\\ThesisSandra\\Analysis\\Movement\\TracerDataAndOutput\\OFES\\'
ds = xr.open_dataset(path+file)
ds.uvel.values = (ds.uvel.values)/100

ds.to_netcdf(path+"OfESncep01globalmmeanuMS.nc")

file = 'OfESncep01globalmmeanv.nc'
ds = xr.open_dataset(path+file)
ds.vvel.values = (ds.vvel.values)/100

ds.to_netcdf(path+"OfESncep01globalmmeanvMS.nc")

In [4]:
df = pd.read_csv('C:\\Users\\sandr\\Documents\\Github\\ThesisSandra\\Analysis\\Movement\\Data\\oceanCellsBOATS.csv', header=None)
df = df.rename(columns={df.columns[0]: 'lon', df.columns[1]: 'lat'}).drop(df.columns[2], axis=1)
df.lon = df.lon+180

         lon   lat
0       18.5 -84.5
1       19.5 -84.5
2       20.5 -84.5
3       21.5 -84.5
4       22.5 -84.5
...      ...   ...
41023  175.5  88.5
41024  176.5  88.5
41025  177.5  88.5
41026  178.5  88.5
41027  179.5  88.5

[41028 rows x 2 columns]

In [ ]:
max(df.lat)
df2 = df[df.lat < 75]

In [ ]:
min(df.lat)
df3 = df2[df2.lat >(-75)]

In [ ]:
df4 = df3.reset_index(drop=True)       
for i in np.arange(0, len(df4)):
    lonVals = np.linspace(df4.lon[i], df4.lon[i]+1, 10)
    latVals = np.linspace(df4.lat[i], df4.lat[i]+1, 10)
    print(i)
    for j in np.arange(0, len(lonVals)):
        lonRep = np.repeat(lonVals[j], 10)
        partRelease = pd.concat([pd.DataFrame({"lon": lonRep}), pd.DataFrame({"lat":latVals})], axis=1)
        if i == 0 & j == 0:
            StartLoc = partRelease
        else:
            StartLoc = pd.concat([StartLoc, partRelease])